<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUIZQUOTIENT</title>
</head>
<body>
    QUIZQUOTIENT_SheetFile
    <script>
        let sheetURLData = JSON.parse(sessionStorage.getItem("SheetFileData"));
        if (!sheetURLData){
            if(location.hostname === "leequanno1.github.io"){
                location.href = location.origin + "/QuizQuotient/Views/NotFound.html";
            }else{
                location.href = location.origin + "/Views/NotFound.html";
            }
        }
        console.log(sheetURLData);
    </script>
</body>
</html>