<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUIZQUOTIENT</title>
</head>
<body>
    QUIZQUOTIENT_SheetURL
    <script>
        let sheetURLData = sessionStorage.getItem("SheetURLData");
        if (!sheetURLData){
            location.href = location.origin + "Views/NotFound.html";
        }
        let sheetJsonData = JSON.parse(sheetURLData);
        console.log(sheetJsonData);
    </script>
</body>
</html>